<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Cache-control" content="no-cache">
  <title>CSV upload</title>

  <head>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>

<body>
  <style>
    .mystyle {
      font-size: 11pt;
      font-family: Arial;
      border-collapse: collapse;
      /* border: 1px solid silver; */

    }

    body {
      background-color: #1E1E1E
    }

    .mystyle td,
    th {
      padding: 0.5em;
    }

    thead tr th {
      text-align: left;
    }

    table {
      border: 0px;
      color: #d5d5d5;
    }

    .mystyle tr:nth-child(even) {
      background: #383838;
    }

    .mystyle tr:nth-child(odd) {
      background: #454545;
    }

    .mystyle tr:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  </style>
  <div class="container m-5">
    <div class="card-body">

      <a href="https://raw.githubusercontent.com/Nur-A-Alam1997/DataVisualizer/data-viz/Task/files/sample.csv"
        download>Download Sample</a>
      <p style="color:#d5d5d5">Sample file schema</p>
      <img src="{{url_for('static', filename='sample.png')}}" alt="" width="700" height="200">
    </div>
    <div class="col-9">
      <div class="card">
        <div class="card-body">
          <p>Please Upload csv File</p>
          <form id="upload-file" method="post" enctype="multipart/form-data">
            <div class="input-group mb-3">
              <input type="file" id='file' name="file" class="form-control" placeholder="test.csv" aria-label=""
                aria-describedby="basic-addon1">
              <div class="input-group-prepend">
                <button id='upload-file-btn' class="btn btn-outline-secondary" type="button">Upload</button>
              </div>
            </div>



          </form>
          <a id="shb" style="cursor: pointer;">
            <button class="btn btn-outline-success button5" disabled id='show-btn'
              style="background-color: #555555">Show Data</button>
            <a>

        </div>
      </div>
    </div>
    <div class="csv"></div>
  </div>


  <div class="container col-9 m-5" id='table-1' hidden>
    <h1 id="file-name" style="color:white"></h1>
    <div class="card card-body" id="table">
    </div>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
</body>
<script>
  $(document).ready(function () {
    counter = 0;

    $('#file').change(function () {
      counter = 0;
      $('#file-name').remove();
      $('table').remove();
      // $('#table-1').Attr('hidden')
    }),

      $('#upload-file-btn').click(function () {

        var csv = $('#file');
        var csvFile = csv[0].files[0];
        var ext = csv.val().split(".").pop().toLowerCase();

        if ($.inArray(ext, ["csv"]) === -1) {
          $('.csv').append(
            `<div class="alert alert-danger" role="alert">
                Please select a valid CSV!
              </div>`
          );
          return false;
        }
        if (csvFile != undefined && counter == 0) {


          var form_data = new FormData($('#upload-file')[0]);
          $.ajax({
            type: 'POST',
            url: '/',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function (data) {
              if (counter == 0) {

                data = JSON.parse(data)
                console.log('Success!');

                $('.csv').append(
                  `<div class="alert alert-success" role="alert">
                Upload Successful...!
                </div>`
                );
                $('#file-name').append(data["filename"]);
                $('#table').append(data["table"]);
                $('#table-1').removeAttr('hidden')
                $('#shb').attr("href", data["filename"])
                $('#show-btn').removeAttr('disabled')
                counter++
              }

            },
            error: function (xhr) {
              response = JSON.parse(xhr.responseText)
              $('.csv').append(
                `<div class="alert alert-danger" role="alert">
                Upload Failed!
                Please add a valid csv with appropriate schema..!!
              </div>`
              );
              $('#file-name').append(response.filename);
              $('#table').append(response.table);
              $('#table-1').removeAttr('hidden')
              console.log('failed!', xhr.responseText);
              counter++
            }
          })




        }
      });
  });

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

</html>